.gradle
**/build/
!**/src/**/build/

gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat

.project
.classpath

/.idea/.gitignore
/.idea/vcs.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/modules/graphs.main.iml
/.idea/modules/graphs.test.iml
/.idea/misc.xml
/.idea/modules.xml
