.gradle
**/build/
!**/src/**/build/

gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat

.project
.classpath

/.idea/.gitignore
/.idea/vcs.xml
